@import "var.scss";
.singer-album {
    margin-top: $header-height;
    padding-top: 150px;
    background-color: $theme-background-color;
    &::before {
        /*背景*/
        content: "";
        background-color: $theme-color;
        box-shadow: 0px 0px 243px 320px #72d1a9;
        position: absolute;
        top: 0;
        width: 100%;
        // height: $header-height + 150px;
    }
}


/*左*/

.album-slide {
    float: left;
    width: 400px;
    .singer-img {
        position: relative;
        display: inline-block;
        height: 300px;
        width: 300px;
        top: -100px;
        left: 50px;
        border-radius: 10%;
        overflow: hidden;
        border: 5px solid $color-white;
        background-color: $color-white;
        img {
            width: 100%;
        }
    }
    .info {
        position: relative;
        color: #235642;
        font-size: 20px;
        font-weight: 500;
        margin-top: -115px;
        padding: 30px 51px 30px 68px;
        li {
            width: 100%;
            height: 40px;
        }
    }
}


/*右*/

.album-content {
    margin-left: 300px;
    padding: 30px 100px;
    .intro {
        position: relative;
        font-size: 22px;
        color: #fff;
        margin-top: -121px;
        padding-bottom: 18px;
        span {
            font-size: 18px;
            color: #ffffffd9;
        }
    }
    .songs-body {
        position: relative;
        margin-top: 50px;
    }
}